# pytorch by default uses GPUs.
# If you need / prefer to run on CPUs instead, run:
--extra-index-url https://download.pytorch.org/whl/cpu

ase
equisolve @ https://github.com/lab-cosmo/equisolve/archive/23d6680.zip
matplotlib
numpy
scikit-learn
torch
