# We have to create a seperate file to avoid version when installing trying to install
# metatensor and rascaline at the same time.
rascaline @ https://github.com/luthaf/rascaline/archive/55ad1f1.zip
